DATABASE_URL="postgresql://salaryplanner:salaryplanner@localhost:5432/salaryplanner?schema=public"
AUTH_SECRET=""
AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="My Net Salary Planner"
NODE_ENV="development"
